{% extends 'authentication/layout.html' %}
{% load static %}
{% load web_filters %}

{% block content %}
    <div class="row">
        <div class="col-md-5 mx-auto">

            <div class="col-md-12 text-center">
                <img src="{% static 'images/logo.png' %}" alt="" style="width: 100%;"/>
            </div>

            <div class="text-center mt-2">
                <form action="{% url 'authentication:invite' %}" method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group">


                            {% if field.name == 'industry' %}

                                <label for="industry">Industry</label>
                                <select id="industry"
                                        name="industry"
                                        class="custom-select ta" data-type="INDUSTRY"
                                        multiple></select>

                           {% else %}

                            {{ field.label_tag }}
                            {{ field|addclass:'form-control' }}
                            <small> {{ field.help_text|safe }}</small>

                            {% endif %}
                            {% include 'partial/field_error.html' %}

                        </div>

                    {% endfor %}

                    <input type="submit" name="submit" class="btn btn-primary form-control" value="Send">

                </form>
                <a href="/">Back</a>
            </div>


        </div>
    </div>
{% endblock %}