{% extends 'layout.html' %}
{% load web_filters %}


{% block content %}
    {% if request.user.is_staff %}
<a href="{% url 'core:freelancers:freelancer:records-paid' freelancer_pk %}" class="btn btn-danger">Mark All Paid</a>
{% endif %}

    <div class="row justify-content-between">

    <div class="card text-white bg-secondary col" style="max-width: 18rem;">
<div class="card-header">Total</div>
<div class="card-body">
<h4 class="card-title">{{total}}</h4>
</div>
</div>


    <div class="card text-white bg-secondary col" style="max-width: 18rem;">
<div class="card-header">Paid</div>
<div class="card-body">
<h4 class="card-title">{{paid_count}}</h4>
</div>
</div>

    <div class="card text-white bg-secondary col" style="max-width: 18rem;">
<div class="card-header">Pending</div>
<div class="card-body">
<h4 class="card-title">{{not_paid_count}}</h4>
</div>
</div>

    </div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Website</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Product Page</th>
      <th scope="col">Paid</th>
    </tr>
  </thead>
  <tbody>

    {% for company in companies %}

    <tr>
      <th scope="row">{{company.pk}}</th>
      <td>{{company.name}}</td>
      <td>{{company.website}}</td>
      <td>{{company.email}}</td>
      <td>{{company.phone_number}}</td>
      <td> <a href="{{company.product_page}}">Product Page</a></td>

    <td>
        {% if company.paid %}
            True
            {% else %}
            False
        {% endif %}
    </td>

    </tr>
    {% empty %}

    <tr>  <td> No Companies Yet</td></tr>

    {% endfor %}
  </tbody>
</table>


     {% if companies.has_other_pages %}<nav>
        <ul class="pagination justify-content-center mt-2">
            {% if companies.has_previous %}
                <li class="page-item ">
                    <a class="page-link" href="?page={{ companies.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Previous</a>
                </li>
            {% else %}
                <li class="page-item  disabled"><a class="page-link">Previous</a></li>
            {% endif %}
            <li class="active page-item"><a class="page-link"> Page {{ companies.number }} of {{ companies.paginator.num_pages }} </a></li>
            {% if companies.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ companies.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Next</a>
                </li>
            {% else %}
                <li class="disabled page-item"><a class="page-link">Next</a></li>
            {% endif %}
        </ul></nav>
     {% endif %}

{% endblock %}